@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h2>Introduction</h2>
        Updated
        <h2>Downloads</h2>
        Please see below downloads:
    </p>
</div>
